@model PhiloWellnessMVC.Models.WellnessModels.WellnessDetailViewModel

@{
    ViewData["Title"] = "Delete Wellness Record";
}

<h1>Delete Wellness Record</h1>
<h4>Are you sure you want to delete the wellness record dated @Model.Date?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SelfRating)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SelfRating)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FacultyRating)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FacultyRating)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Incidents)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Incidents)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="WellnessId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
