@model IEnumerable<PhiloWellnessMVC.Models.WellnessModels.WellnessIndexViewModel>

@{
    ViewData["Title"] = "All Wellness Records";
}

<h1 class="text-center">All Wellness Records</h1>
<a class="btn btn-primary" asp-action="Create">Create A New Wellness Record</a>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SelfRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncidentNotes)
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wellness in Model)
            {
                <tr>
                    <td>
                        @wellness.Date.ToShortDateString()
                    </td>
                    <td>
                        @wellness.SelfRating
                    </td>
                    <td>
                        @wellness.FacultyRating
                    </td>
                    <td>
                        @wellness.IncidentNotes
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = wellness.WellnessId }) |
                        @Html.ActionLink("Details", "Details", new { id = wellness.WellnessId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = wellness.WellnessId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
